/* css reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #f3db00;
}

#content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Patua One', cursive;
    font-size: 20px;
}

.header {
    display: grid;
    grid-template-rows: 2fr 1fr;
    align-items: center;
    margin-top: 2rem;
}

.rest-name {
    justify-self: center;
    font-size: 5rem;
}

.header-menu {
    display: flex;
    justify-content: space-evenly;
}

.header-menu > li {
    list-style: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0rem;
    background-color: #FBE551;
    margin: 6rem 25rem 0;
    padding: 5rem 2rem;
    border: double #F6BB0A 1rem;
    border-radius: 30px;
}

.container > img {
    width: 23rem;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 10rem;
}

.menu-item {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    justify-items: center;
    align-items: center;
    gap: 1.5rem;
}

.menu-img {
    max-width: 100%;
    height: auto;
    border-radius: 30px;
}

.menu-item > div > p {
    white-space: pre-line;
}
