:root {
    --main-bg-color: #f3db00;
    --bg-color2: #FBE551;
    --bg-color3: #F9D342;
    --border-color: #F6BB0A;
}

/* css reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Patua One', cursive;
    font-size: 17px;
}

body {
    background-color: var(--main-bg-color);
}

#content {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    display: grid;
    grid-template-rows: 2fr 1fr;
    align-items: center;
    padding-top: 2rem;
    gap: 1rem;
    background: linear-gradient(#f48200, var(--main-bg-color));
}

.rest-name {
    justify-self: center;
    font-size: 5rem;
}

.header-menu {
    display: flex;
    justify-content: center;
    gap: 10rem;
}

.header-menu > li {
    cursor: pointer;
    list-style: none;
}

.header-item {
    font-weight: 100;
    font-size: 1.2rem;
    padding: .5rem 2rem;
    background-color: var(--bg-color2);
    border: solid var(--border-color) 3px;
    border-radius: 25px;
}

.header-item:hover {
    filter: brightness(105%);
    transform: scale(105%);
}

.header-item:active {
    background-color: var(--border-color);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0rem;
    background-color: var(--bg-color2);
    margin: 6rem 25rem 0;
    padding: 5rem 2rem;
    border: double var(--border-color) 1rem;
    border-radius: 30px;
}

.container > img {
    width: 23rem;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 10rem;
}

.menu-item {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    justify-items: center;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem;
    background-color: var(--bg-color3);
    border: solid var(--border-color) 1px;
    border-radius: 30px;
}

.menu-img {
    max-width: 100%;
    height: auto;
    border-radius: 30px;
}

.menu-item > div {
    display: grid;
    gap: 2rem;
}

.menu-item > div > p {
    white-space: pre-line;
}

.contacts-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.contacts-container > div {
    display: grid;
    justify-items: center;
    align-items: center;
    gap: 1.5rem;
    padding: 4rem;
    background-color: var(--bg-color3);
    border: solid var(--border-color) 1px;
    border-radius: 30px;
}

.contacts-container > div > p {
    white-space: pre-line;
    text-align: center;
    line-height: 2;
}

